In [2]:
# パッケージの読み込み
import pandas as pd
import numpy as np
import datetime as dt
import time
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import ElasticNet, Ridge

pd.set_option('display.max_columns', 500)

あとで消す

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/blue-eagle/estyle_data/master/day1_yc_data.csv',parse_dates=['date'], index_col=0).sort_index()
df.head()

,num_rides,holiday,Max_Temp,Min_Temp,Rain_in,Snow&Hail_in,obs_time_ Snow&Hail_in
date,,,,,,,
2017-01-01,281263.0,False,48,40,0.001,0.000,0.0
2017-01-02,224893.0,True,41,37,0.210,0.001,0.0
2017-01-03,278099.0,False,43,39,0.580,0.000,0.0
2017-01-04,289301.0,False,52,34,0.000,0.000,0.0
2017-01-05,324421.0,False,34,27,0.000,0.000,0.0

#useful function

**FIXME:**\
**df_to_datetime**: 一番最初に得られた初期データをdatetime型に変換する

In [ ]:
def df_to_datetime(DF, target_column, format='%m/%d/%Y'):
  df = DF.reset_index()
  columns_num = len(df.columns)
  for column in df.columns:
    if column == target_column:
      df[column] = pd.to_datetime(df[column], format=format)
      df[column] = pd.to_datetime(df[column])
      # df[column] = df[column].dt.strftime('%m/%d/%Y')
  return df

DF = df_to_datetime(df, "date", format="%Y/%m/%d")
DF.head()

,date,num_rides,holiday,Max_Temp,Min_Temp,Rain_in,Snow&Hail_in,obs_time_ Snow&Hail_in
0,2017-01-01,281263.0,False,48,40,0.001,0.000,0.0
1,2017-01-02,224893.0,True,41,37,0.210,0.001,0.0
2,2017-01-03,278099.0,False,43,39,0.580,0.000,0.0
3,2017-01-04,289301.0,False,52,34,0.000,0.000,0.0
4,2017-01-05,324421.0,False,34,27,0.000,0.000,0.0

**df_visualization**: 一番最初に得られた初期データを可視化する

In [ ]:
def df_visualization(DF, figsize=(20,15), subplot=True, standardization=False):
  df = DF.copy()
  columns_num = len(df.columns)

  if standardization:
    for column in df.columns:
      df[column] = (df[column] - df[column].mean()) / df[column].std()  
  if subplot:
    fig, axes = plt.subplots(columns_num, 1, figsize=figsize)
    for num, ax in enumerate(axes):
      ax.plot(df.iloc[:,num])
  else:
    fig = plt.figure()
    plt.plot(df)

# df_visualization(df, standardization=True)

**TODO**
1. 横軸時間のプロット
2. ヒストグラムおよび五数約数(最小値, 25%値, 中央値, 75%値, 最大値)
3. 自己相関係数・偏自己相関係数
4. 周波数スペクトル Fourier

**TODO**
1. 階差・対数変換
2. 残差自己相関